{
  "installed":
  {
    "client_id": "960304548442-anyid.apps.googleusercontent.com",
    "project_id": "vibot-anyid",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_secret": "any_secret",
    "redirect_uris": ["urn:ietf:wg:oauth:2.0:oob", "http://localhost"],
    "auth_token": "any_auth_token"
  }
}
